/* ============================================ */
/* RESPONSIVE FORM: 2 CAMPOS POR RENGLÓN (768px - 560px) */
/* ============================================ */

@media (max-width: 768px) {
    .card-res-body {
        grid-template-columns: 1fr 3fr; /* repeat(2, 1fr);
        /* 2 columnas en tablets */
    }

    form {
        min-height: 70vh;
        /* Ajusta la altura en tablets */
    }
}

/* ============================================ */
/* RESPONSIVE FORM: 1 CAMPO POR RENGLÓN (menos de 560px) */
/* ============================================ */

@media (max-width: 560px) {
    .card-res-body {
        grid-template-columns: 1fr;
        /* 1 columna en móviles */
        gap: 10px;
        padding: 15px;
        /* Reduce el padding en móviles */
    }

    .card-res-body label {
        text-align: left;
    }

    form {
        min-height: 60vh;
        /* Ajusta la altura en móviles */
        padding: 15px;
    }
}
