@use '../utils/variables' as vrb;
/* ============================================ */
/* CSS PARA EL FOOTER FLOTANTE */
/* ============================================ */

.footer-float {
    color: vrb.$lightfont !important;
    background-image: vrb.$gradoscuro !important;
    margin-top: auto;
    /* Empuja el footer hacia abajo (pie pegado al final) */
    width: 100%;
    padding: 5px;
    box-sizing: border-box;

    /* Incluye padding y border en el ancho total */
    a {
        color:vrb.$lightfont !important;
        text-decoration: none !important;
    }

    .izquierda {
        float: left;
    }

    .derecha {
        float: right;
    }
}
 