@use '../utils/variables' as vrb;

/* ============================================ */
/* CSS PARA FORMULARIO DE RESERVA */
/* ============================================ */

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    min-height: 65vh;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid vrb.$bordeysombra;
    border-radius: 8px;
    background-color: vrb.$card-bg;
    text-align: center;
}

.card-res-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 columnas en pantallas grandes */
    gap: 15px 10px;
    /* Espacio vertical y horizontal entre elementos */
    max-width: 900px;
    padding: 30px;
    margin: 0 auto;
    /* Centra el grid horizontalmente */
    align-items: center;
    width: 100%;
    box-sizing: border-box;

    /* Incluye padding y border en el ancho */
    label {
        grid-column: span 1;
        text-align: left;
        font-weight: 600;
    }

    input {
        grid-column: span 1;
        width: 100%;
        padding: 8px;
        border: 1px solid vrb.$bordeysombra;
        border-radius: 4px;
        box-sizing: border-box;
        /* Incluye padding y border en el ancho */
    }

    select {
        grid-column: span 1;
        width: 100%;
        padding: 8px;
        border: 1px solid vrb.$bordeysombra;
        border-radius: 4px;
        box-sizing: border-box;
        /* Incluye padding y border en el ancho */
    }

    input[type="submit"] {
        margin-top: 20px;
        padding: 12px 24px;
        background-color: vrb.$secondary-color;
        color: vrb.$lightfont;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 1.1em;
        font-weight: 600;

        &hover {
            background-image: vrb.$gradoscuro;
        }

    }
}


/* ============================================ */
/* RESPONSIVE FORM: 2 CAMPOS POR RENGLÓN (768px - 560px) */
/* ============================================ */

@media (max-width: 768px) {
    .card-res-body {
        grid-template-columns: 1fr 3fr;
        /* cambio repeat(2, 1fr) por actual para hacer mayor el campo del input, en lugar del label;*/
        /* 2 columnas en tablets */
    }

    form {
        min-height: 70vh;
        /* Ajusta la altura en tablets */
    }
}

/* ============================================ */
/* RESPONSIVE FORM: 1 CAMPO POR RENGLÓN (menos de 560px) */
/* ============================================ */

@media (max-width: 560px) {
    .card-res-body {
        grid-template-columns: 1fr;
        /* 1 columna en móviles */
        gap: 10px;
        padding: 15px;
        /* Reduce el padding en móviles */
    }

    .card-res-body label {
        text-align: left;
    }

    form {
        min-height: 60vh;
        /* Ajusta la altura en móviles */
        padding: 15px;
    }
}