@use '../utils/variables' as vrb;



/* ESTILOS GENERALES DEL BODY */
body {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    min-height: 100vh;
    /* Asegura que el body ocupe al menos toda la altura de la ventana */
}


main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}