/* ============================================ */
/* CSS PARA CARDS-MAP */
/* ============================================ */

.card-map {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 0 4px 8px #000000;
    overflow: hidden;
    margin: 20px;
    padding: 0 10px;
    /*margen para que las imagenes no queden pegadas al borde*/
    height: 100%;
    max-width:1040px;
    text-align: center;
}
