@use '../utils/variables' as vrb;

/* ============================================ */
/* CSS PARA CARDS-MAP */
/* ============================================ */

.card-map {
    display: flex;
    flex-direction: column;
    border: 1px solid vrb.$bordeysombra;
    border-radius: 8px;
    box-shadow: 0 4px 8px vrb.$bordeysombra;
    overflow: hidden;
    margin: 20px;
    padding: 0 10px;
    height: 100%;
    max-width: 1040px;
    text-align: center;
}