/* ============================================ */
/* CSS PARA LA BARRA DE NAVEGACION */
/* ============================================ */

.navbar {
    color: #ffffff !important;
    background-image: linear-gradient(135deg, cornflowerblue, #0e5cee) !important;
    width: 100%;
    /*Agrego los !important para que tome estos estilos y no los de bootstrap*/
}

/* Estilos para los enlaces de navegaci칩n */
.navbar .nav-link {
    color: #ffffff !important;
    background-color: linear-gradient(45deg, #0e5cee, cornflowerblue);
    /* Gradiente de fondo */
    /*Agrego los !important para que tome estos estilos y no los de bootstrap*/
}

/* Estilo para el enlace activo (p치gina actual) */
.nav-link.active {
    font-weight: 600;
    /* Hace el texto m치s grueso para destacar la p치gina actual */
}