@use '../utils/variables' as vrb;
/* ============================================ */
/* CSS PARA LA BARRA DE NAVEGACION */
/* ============================================ */

.navbar {
    color: vrb.$lightfont !important;
    background-image: vrb.$gradoscuro !important;
    width: 100%;

    /*Agrego los !important para que tome estos estilos y no los de bootstrap*/
    .nav-link {
        /* Estilos para los enlaces de navegaci칩n */
        color: vrb.$lightfont !important;
        background-image: vrb.$secondary-color !important;
        /* Gradiente de fondo. */
        /* Estilo para el enlace activo (p치gina actual) */

        &:active {
            font-weight: 600;
            /* Hace el texto m치s grueso para destacar la p치gina actual */
        }
    }
}