//COLORES
$primary-color:#0e5cee;
$secondary-color: cornflowerblue;

$bordeysombra: black;
$body-bg: #ddd;
$card-bg: whitesmoke;

$link-color: cornflowerblue;

$gradclaro: linear-gradient(45deg, cornflowerblue,  #0e5cee);
$gradoscuro: linear-gradient(45deg, #0e5cee, cornflowerblue);

$lightfont: #ffffff;
$cardfont: #000000;





